[submodule "gz-tools"]
	path = gz-tools
	url = https://github.com/gazebosim/gz-tools
	branch = gz-tools2
[submodule "gz-utils"]
	path = gz-utils
	url = https://github.com/gazebosim/gz-utils
	branch = gz-utils2
[submodule "gz-cmake"]
	path = gz-cmake
	url = https://github.com/gazebosim/gz-cmake
	branch = gz-cmake3
[submodule "gz-common"]
	path = gz-common
	url = https://github.com/gazebosim/gz-common
	branch = gz-common5
[submodule "gz-math"]
	path = gz-math
	url = https://github.com/gazebosim/gz-math
	branch = gz-math7
[submodule "gz-plugin"]
	path = gz-plugin
	url = https://github.com/gazebosim/gz-plugin
	branch = gz-plugin2
[submodule "gz-msgs"]
	path = gz-msgs
	url = https://github.com/gazebosim/gz-msgs
	branch = gz-msgs10
[submodule "sdformat"]
	path = sdformat
	url = https://github.com/gazebosim/sdformat
	branch = sdf14
[submodule "gz-transport"]
	path = gz-transport
	url = https://github.com/gazebosim/gz-transport
	branch = gz-transport13
[submodule "gz-fuel-tools"]
	path = gz-fuel-tools
	url = https://github.com/gazebosim/gz-fuel-tools
	branch = gz-fuel-tools9
[submodule "gz-rendering"]
	path = gz-rendering
	url = https://github.com/gazebosim/gz-rendering
	branch = gz-rendering8
[submodule "gz-sensors"]
	path = gz-sensors
	url = https://github.com/gazebosim/gz-sensors
	branch = gz-sensors8
[submodule "gz-physics"]
	path = gz-physics
	url = https://github.com/gazebosim/gz-physics
	branch = gz-physics7
[submodule "gz-gui"]
	path = gz-gui
	url = https://github.com/gazebosim/gz-gui
	branch = gz-gui8
[submodule "gz-launch"]
	path = gz-launch
	url = https://github.com/gazebosim/gz-launch
	branch = gz-launch7
[submodule "gz-sim"]
	path = gz-sim
	url = https://github.com/gazebosim/gz-sim
	branch = gz-sim8
[submodule "dependencies/protobuf"]
	path = dependencies/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
	branch = v32.0
